.videoc .video {
    margin: -338px 0 0 -475px;
}

.m-ft .content,
.g-ft {
    color: #bebfc0;
}

.m-courses .course {
    outline: 1px solid #e6e6e6;
}

.m-courses .course .detail {
    outline: 3px solid #d1d0d0;
}

.m-hot,
.m-intro {
    outline: 1px solid #ecebeb;
}

.m-hot:hover,
.m-intro:hover {
    outline: 2px solid #cccacb;
}

.m-intro .tit,
.m-hot .tit {
    outline: 1px solid #f1f1f1;
}

.m-form {
    margin: -144px -193px;
}
